@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Controllers.SplashPageInfo

<h1>Machines</h1>

<div class="basic">
  @if (Model.Machines.Count() == 0)
  {
    <h3>No machines have been added yet!</h3>
  }
  else
  {
    <ul>
      @foreach (var machine in Model.Machines)
      {
        <li>@Html.ActionLink($"{machine.Name}", "Details", new { id = machine.MachineId })</li>
        <ul>
          <li>@Html.ActionLink($"{machine.Status}", "Details", new { id = machine.MachineId })</li>
        </ul>
      }
    </ul>
  }

  <p>@Html.ActionLink("Add new Machine", "Create")</p>
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>