@{
  Layout = "_Layout";
}

@model Factory.Controllers.SplashPageInfo

<h1>Engineers</h1>

<div class="basic">
  @if (Model.Engineers.Count() == 0)
  {
    <h3>No engineers have been added yet!</h3>
  } 
  else
  {
    <ul>
      @foreach (var engineer in Model.Engineers)
      {
        <li>@Html.ActionLink($"{engineer.Name}", "Details", new { id = engineer.EngineerId })</li>
      }
    </ul>
  }

  <p>@Html.ActionLink("Add new Engineer", "Create")</p>
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>